/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.idea/
re-frisk.iml
resources/re-frisk/js/
/resources/test/
/public/client/js/
/public/js/
/node_modules/
/.shadow-cljs/
