{:source-paths ["src" "re-frisk/src" "dev" "test"]

 :dependencies [[org.clojure/test.check "1.0.0"]
                [reagent "0.10.0"]
                [re-frame "0.12.0"]
                [com.cognitect/transit-cljs "0.8.256"]
                [re-frisk/sente "1.15.0"]
                [com.taoensso/timbre "4.10.0"]
                [re-com "2.8.0"]]

 :builds       {:dev            {:target           :browser
                                 :output-dir       "public/js"
                                 :asset-path       "/js"
                                 :modules          {:main {:entries [re-frisk.demo]}}
                                 :compiler-options {:closure-defines
                                                    {"re_frame.trace.trace_enabled_QMARK_" true}}
                                 :devtools         {:autoload   true
                                                    :after-load re-frisk.demo/on-js-reload
                                                    :preloads   [re-frisk.preload]
                                                    :http-root  "public"
                                                    :http-port  3000}}

                :dev-remote     {:target     :browser
                                 :output-dir "public/js"
                                 :asset-path "/js"
                                 :modules    {:main {:entries [re-frisk.demo]}}
                                 :compiler-options {:closure-defines
                                                    {"re_frame.trace.trace_enabled_QMARK_" true}}
                                 :devtools   {:autoload   true
                                              :after-load re-frisk.demo/on-js-reload
                                              :preloads   [re-frisk-remote.preload]
                                              :http-root  "public"
                                              :http-port  3001}}

                :client         {:target     :browser
                                 :output-dir "public/client/js"
                                 :asset-path "/js"
                                 :modules    {:main {:entries [re-frisk-remote.server.client.main]}}
                                 :devtools   {:autoload   true
                                              :after-load re-frisk-remote.server.client.main/on-js-reload
                                              :http-root  "public/client"
                                              :http-port  3002}}

                :client-release {:target     :browser
                                 :output-dir "resources/public/js"
                                 :asset-path "/js"
                                 :modules    {:main {:entries [re-frisk-remote.server.client.main]}}}

                :test           {:target    :node-test
                                 :output-to "out/node-tests.js"
                                 :autorun   true}}}