{:source-paths ["src" "re-frisk/src" "dev" "test"]

 :dependencies [[reagent "0.10.0"]
                [re-frame "0.12.0"]
                [re-com "2.8.0"]
                [org.clojure/test.check "1.0.0"]
                ;;REMOTE
                [ring/ring-core "1.8.0"]
                [ring-cors "0.1.8"]
                [http-kit "2.3.0"]
                [com.taoensso/sente "1.11.0"]
                [compojure "1.6.1"]
                [com.cognitect/transit-clj "0.8.319"]
                [com.cognitect/transit-cljs "0.8.256"]
                [javax.servlet/servlet-api "2.5"]
                [org.clojure/core.async "0.7.559"]]

 :builds       {:dev            {:target           :browser
                                 :output-dir       "public/js"
                                 :asset-path       "/js"
                                 :modules          {:main {:entries [re-frisk.demo]}}
                                 :compiler-options {:closure-defines
                                                    {"re_frame.trace.trace_enabled_QMARK_" true}}
                                 :devtools         {:autoload   true
                                                    :after-load re-frisk.demo/on-js-reload
                                                    :preloads   [re-frisk.preload]
                                                    :http-root  "public"
                                                    :http-port  3000}}

                :dev-remote     {:target     :browser
                                 :output-dir "public/js"
                                 :asset-path "/js"
                                 :modules    {:main {:entries [re-frisk.demo]}}
                                 :compiler-options {:closure-defines
                                                    {"re_frame.trace.trace_enabled_QMARK_" true}}
                                 :devtools   {:autoload   true
                                              :after-load re-frisk.demo/on-js-reload
                                              :preloads   [re-frisk-remote.preload]
                                              :http-root  "public"
                                              :http-port  3000}}

                :client         {:target     :browser
                                 :output-dir "public/client/js"
                                 :asset-path "/js"
                                 :modules    {:main {:entries [re-frisk-remote.server.client.main]}}
                                 :devtools   {:autoload   true
                                              :after-load re-frisk-remote.server.client.main/on-js-reload
                                              :http-root  "public/client"
                                              :http-port  3000}}

                :client-release {:target     :browser
                                 :output-dir "resources/public/js"
                                 :asset-path "/js"
                                 :modules    {:main {:entries [re-frisk-remote.server.client.main]}}}

                :test           {:target    :node-test
                                 :output-to "out/node-tests.js"
                                 :autorun   true}}}